* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  line-height: 1.6;
  background: #360197d8;
  color: #f0f0f0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  padding-top: 40px; 
}

.container {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
  padding: 40px 20px;
  background: linear-gradient(rgba(255, 255, 255, 0.753), #ffffffd0);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(63, 1, 99);
  color: black;
}

h1 {
  text-align: center;
  margin: 0 0 30px 0; 
  padding-top: 0;
  text-transform: uppercase;
  font-size: 30px;
}

#calcForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select {
  padding: 10px 10px;
  border: 2px solid #000000;
  border-radius: 6px;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(15, 55, 95, 0.3);
  width: 100%;
}

button {
  padding: 15px; 
  background-color: #5c04a3;
  border: 2px solid #5c04a3;
  border-radius: 6px;
  color: aliceblue;
  box-shadow: 0 2px 5px #430477;
  text-shadow: 0 2px 5px black;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #430477;
  border: 2px solid #430477;
  text-shadow: 0 2px 5px black;
}